//-----------------------------------//
//             Counters              //
//       Called by _main.scss        //
//-----------------------------------//
.counters__container{
    background-color: #222222;
    
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        >div{
            text-align: center;
            padding: 95px 0px;
            width: calc(100% / 6);
            span{
                color: white;
                font-size: 16px;

                &:first-child{
                    color: $themeColor;
                    font-size: 44px;
                }
            }

            hr{
                border-color: white;
            }
        }
    
}