//-----------------------------------//
//             ourteam               //
//       Called by _main.scss        //
//-----------------------------------//
.ourteam__container{
    text-align: center;
    padding: 70px 70px 35px;
    background-color: white;
    
    >div:first-child{
        p{
            padding: 1% 9%;
        }
    }
    >div:last-child{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        >div{
            width: calc(25% - 20px);
            padding: 20px;
            figure{
                img{
                    border: 1px solid #bbbbbb;
                    display: inline;
                }
                figcaption{
                    margin-top: 55px;
                    hr{
                        border-top-color: #bbbbbb;
                    }
                }
            }
        }
    }
}