//-----------------------------------//
//             parallax              //
//       Called by _main.scss        //
//-----------------------------------//
.parallax__container{
    background-image: url('../images/piano.jpg');
    background-attachment: fixed;
    height: 400px;
    background-size: 110%;
    text-align: center;
    color: #fefefe;
    padding: 80px;
    h3{
        color: #fefefe;
        small{
            color: #fefefe;
        }
    }
    
    hr{
        border-top-color: #fefefe;
    }
    p{
        margin: 3% 9%;
    }
    ul{
        list-style-type: none;
        padding: 0px;
        display: flex;
        justify-content: space-around;
        direction: ltr;
        align-items: center;

        li{
            width: calc(100% / 7);
            &.parallax-icon{
                a{
                    font-size: 25px;
                    color: #fefefe;
                    img{
                        width: 100%;
                    }
                }
            }
        }// li
    }// ul
}// .parallax__container
