//-----------------------------------//
//               Main                //
//        called by style.scss       //
//-----------------------------------//

$regularFont: vazir;
$regularFontSize: 14px;
$regularFontColor: #5e5e5e;




//colors
$themeColor: #ed484b;
$buttonColor: $themeColor;
$linkColor: $themeColor;