//-----------------------------------//
//               Main                //
//        called by style.scss       //
//-----------------------------------//
body {
    color: $regularFontColor;
    font-size: $regularFontSize;
    font-family: $regularFont;
    direction: rtl;
    text-align: right;
    a {
        color: $linkColor;
        &.active,
        &:active,
        &:hover,
        &:focus {
            color: darken($color: $linkColor, $amount: 20%);
            text-decoration: none;
            text-shadow: 0px 0px 10px $linkColor;
        }
    }
    input.form-control {
        //bootstrap class
        border-radius: 2px;
        transition-duration: 500ms;
        &:focus {
            border: 1px solid $themeColor;
            box-shadow: 0px 2px 10px 0px gray;
            transition-duration: 500ms;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        color: #3e4041;
        letter-spacing: 0.5px;
        small {
            position: absolute;
            top: -115%;
            left: 0;
            right: 0;
            letter-spacing: 0px;
        }
    }
    hr {
        border-top: 2px solid $themeColor;
        width: 40px;
        margin-top: 15px;
        margin-bottom: 20px;
    } 
    p{
        line-height: 24px;
    }
    // theme-button
    .theme-button {
        color: $regularFontColor;
        background-color: #e1e1e1;
        border-radius: 3px;
        padding: 0px 24px;
        border: none;
        letter-spacing: 1px;
        margin-top: 20px;
        display: inline-block;
        line-height: 42px;
        &:visited,
        :active {
            color: $regularFontColor;
            text-decoration: none;
        }
        &:hover,
        :focus {
            animation: pulse 0.8s;
            box-shadow: 0 0 10px 15px rgba(#fff, 0);
            background-color: $buttonColor;
            text-decoration: none;
            color: white;
        }
        @keyframes pulse {
            0% {
                box-shadow: 0 0 0 0 $buttonColor;
            }
        }
        // theme-button--dark
        &--dark {
            background-color: #333333;
            color: white;
            &:visited, :active{
                color: white;
            }
        }
        // theme-button--colered
        &--colored {
            background-color: $buttonColor;
            color: white;
            &:visited, :active{
                color: white;
            }
        }
        // theme-button--transparent
        &--transparent {
            background-color: unset;
            color: white;
            border: 1px solid white;
            border-radius: 2px;
            &:visited, :active{
                color: white;
            }
        }
        // theme-button--big
        &--big {
            padding: 6px 28px;
        }
    }
}

//==============Modules==============//
//---------from /main_modules--------//
//-----------------------------------//
//               slider              //
//-----------------------------------//
@import "main_modules/slider";

//-----------------------------------//
//           iconContents            //
//-----------------------------------//
@import "main_modules/iconContents";

//-----------------------------------//
//           imageContents           //
//-----------------------------------//
@import "main_modules/imageContents";

//-----------------------------------//
//             portfolio             //
//-----------------------------------//
@import "main_modules/portfolio";

//-----------------------------------//
//             counters             //
//-----------------------------------//
@import "main_modules/counters";

//-----------------------------------//
//           tabletSlider            //
//-----------------------------------//
@import "main_modules/tabletSlider";

//-----------------------------------//
//              features             //
//-----------------------------------//
@import "main_modules/features";

//-----------------------------------//
//           coloredContents         //
//-----------------------------------//
@import "main_modules/coloredContents";

//-----------------------------------//
//              ourteam              //
//-----------------------------------//
@import "main_modules/ourteam";

//-----------------------------------//
//              parallax             //
//-----------------------------------//
@import "main_modules/parallax";

//-----------------------------------//
//             contact              //
//-----------------------------------//
@import "main_modules/contact";