//======================(max-width: 1200px)
@media (max-width: 1199.95px){
    //tablet-slider
    .tablet-slider__container{
        .tablet-slider-columns > div > img
        {
            left: 27%;
        }
    }

    //features
    .features__container{
        padding: 90px 10px 65px;
    }

    //parallax
    .parallax__container{
        p{
            margin: 3%;
        }
    }
}

//======================(max-width: 992px)
@media (max-width: 991.95px){
    //header
    .header__container{
        .navbar-nav>li>a{
            padding: 10px 6px;
        }
        .header-logo{
            text-align: left;
            img{
                width: 165px;
            }
        }
    }
    //.slider
    .slider__container{
        ul li figure
        {
            padding: 0px;
            width: 90%;
            right: 3%;
        }
    } 
    //features
    .features__container{
        padding: 90px 10px 65px;
        div >img{
            width: 70%;
            margin: 0 auto;
        }
    }

    //tablet-slider
    .tablet-slider__container{
        .tablet-slider-columns > div > img
        {
            left: 11%;
        }
    }
    //ourteam
    .ourteam__container{
        >div:last-child{
            >div{
                width: calc(50% - 20px);
            }
        }
    }

    //parallax
    .parallax__container{
        padding: 60px 0px;
        p{
            margin: 1%;
        }
    }
}
//======================(max-width: 768px)
@media (max-width: 767.95px){
    // header
    .header__container{
        top: 0px;
        display: contents;
        >div{
            padding: 0px;
        }
        nav{
            height: unset;
            padding: 10px;
        }
    }

    //.slider
    .slider__container{
        ul li figure
        {
            top: 10%;
            img{
                width: 45%;
            }
            figcaption{
                max-width: 55%;
            }
        }
    } 

    // icon-contents
    .icon-contents__container{
        .icon-contents-columns{
            display: block;
            >div{
                width: calc(100% - 60px);
                margin: 0px 30px 20px;
            }
        }
    }

    //.image-contents
    .image-contents__container{
        ul li{
            .contentslider-triangle, .contentslider-triangleshadow{
                display: none;
            }
            figure{
                >div{
                    width: 100%;
                }
                >figcaption{
                    width: 100%;
                    padding: 10% 3% 3% 3%
                }
            }
        } 

    }

    //.portfolio__container
    .portfolio__container{
        ul li{
            width: 50%;
        }
    }

    //counters
    .counters__container{
        >div{
            width: calc(100% / 3);
            padding: 40px 0px;
        }
    }

    //tablet-slider
    .tablet-slider__container{
        .tablet-slider-columns{
            padding-top: 20px;
            > div{
                width: 100%;
                &:first-child{
                    margin-bottom: 80px;
                    >div{
                        margin-left: auto;
                    }
                    > img
                    {
                        left: 24%;
                    }
                }
                
            }
        }
    }

    //features
    .features__container{
        padding: 70px 20px 45px;
        div:nth-child(2) {
            >div{
                &:nth-child(1){
                    width: 47%;
                }
                
                &:nth-child(2){
                    display: none;
                }

                &:nth-child(3){
                    width: 47%;
                }
            }
        }
    }

    //colored-contents
    .colored-contents__container{
        >div{
            width: 100%;
        }
    }

    //ourteam
    .ourteam__container{
        >div:last-child{
            >div{
                width: calc(100% - 20px);
            }
        }
    }

    //parallax
    .parallax__container{
        padding: 50px 0px;
        ul li img{
            width: 75%;
        }
    }

    //contact
    .contact__container{
        > div > div{
            width: 100%;
        }
        .contact-triangle, .contact-triangleshadow{
            display: none;
        }
    }

    //footer
    .footer__container{
        >section:first-child .footer-modules >div{
            width: 100%
        }
    } 

}


//======================(max-width: 576px)
@media (max-width: 575.95px) { 

    //.slider
    .slider__container{
        height: 600px;
        ul li, ul li.active{
            img{
                height: 600px;
            }
            figure
            {
                img{
                    display: none;
                }
                figcaption{
                    max-width: 100%;;
                }
            }
        } 
    }

    //.portfolio__container
    .portfolio__container{
        .portfolio-buttons{
            margin-right: 30px;
            margin-left: 30px;
        }
        
        ul li{
            width: 100%;
        }
    }

    //counters
    .counters__container{
        >div{
            width: 100%;
            padding: 30px 0px;
        }
    }

    //tablet-slider
    .tablet-slider__container{
        .tablet-slider-columns{
            padding-top: 20px;
            > div{
                width: 100%;
                &:first-child{
                    margin-bottom: 80px;
                    >div{
                        margin-left: 33px;
                    }
                    > img
                    {
                        left: 0;
                    }
                }
                
            }
        }
    }

    //features
    .features__container{
        padding: 70px 20px 45px;
        div:nth-child(2) {
            >div{
                &:nth-child(1){
                    width: 100%;
                    text-align: center;
                }

                &:nth-child(3){
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }


    //ourteam
    .ourteam__container{
        > div{
            &:first-child p{
                padding: 0px;
            }

            &:last-child > div{
                padding: 20px 0px;
            }
        }
         
    }

    //parallax
    .parallax__container{
        padding: 30px 0px;
        background-size: 100% 100%;
    }

    //contact
    .contact__container{
        > div > div.contact-info .contact-info-columns > div{
            width: 100%;
        }
    }

    //footer
    .footer__container{
        > section:last-child .footer-copyright > div{
            width: 100%;
            text-align: center;
            &:first-child nav{
                float: unset;
            }
        }
        
    } 
}


//======================(max-width: 576px)
@media (max-width: 320.95px) { 
    //tablet-slider
    .tablet-slider__container{
        .tablet-slider-columns{
            padding-top: 20px;
            > div{
                width: 100%;
                &:first-child{
                    margin-bottom: 80px;
                    >div{
                        width:75%;
                        margin-top: 39px;
                    }
                    > img
                    {
                        width: 100%;
                    }
                }
                
            }
        }
    }

}