//-----------------------------------//
//           Scroll Effect           //
//       Called by _main.scss        //
//-----------------------------------//
//Before scroll styles write here, and use scrollEffect.js methods to reverse style by animation.
.icon-contents-columns{
        >div{
            margin-top: 100px;
            opacity: 0;
        }
}
.image-contents__container{
    opacity: 0;
    ul li figure{
        figcaption{
            h3{
                margin-top: -100px;
            }
            p{
                margin-right: 100px;
                margin-left: -100px;
                opacity: 0;
            }
            a{
                opacity: 0;
                margin-top: 60px;
            }
        }
    }
}

.portfolio__container{
    opacity: 0;
    margin-top: 100px;
    
    div:first-child{
        opacity: 0;
        margin-top: 200px;
    }
    .portfolio-buttons{
        opacity: 0;
        margin-top: -100px;
    }
}

.counters__container > div{
    opacity: 0;
    margin-top: 50px;
}

.tablet-slider__container{
    opacity: 0;
    margin-right: -100px;
    ul li{
        padding-top: 50px;
    }
}

.features__container{
    opacity: 0;
    margin-top: -100px;
     >div>div{
        margin-top: 100px;
    }
    >div:last-child a{
        padding: 0px;
        margin: 0px;;
        opacity: 0;
    }
}

.colored-contents__container > div{
    padding: 0px 68px 0px;
    opacity: 0;
}

.ourteam__container{
    opacity: 0;
    margin-top: -100px;
    >div:nth-child(2){
        div:nth-child(1){
            margin-top: 200px;
            opacity: 0;
        }
        div:nth-child(2){
            margin-top: 300px;
            opacity: 0;
        }
        div:nth-child(3){
            margin-top: 400px;
            opacity: 0;
        }
        div:nth-child(4){
            margin-top: 500px;
            opacity: 0;
        }
    }
}

.contact__container{
    opacity: 0;
    margin-top: -100px;
}