//-----------------------------------//
//           Scroll Effect           //
//       Called by _main.scss        //
//-----------------------------------//
//Before scroll styles write here, and use scrollEffect.js methods to reverse style by animation.
.hideme{
    margin-top: 100px;
    opacity: 0; 
    transition-duration: 1500ms;
}
.icon-contents-columns{
        >div{
            &:nth-child(2){
                transition-delay: 200ms;
            }
            &:nth-child(3){
                transition-delay: 400ms;
            }
        }
}
.image-contents__container{
    ul li figure{
        figcaption{
            h3{
                transition-delay: 100;
                transition-timing-function: $easeOutQuint;
            }
            p{
                margin-bottom: 35px;
                transition-delay: 300ms;
                transition-timing-function: $easeOutQuint;
            }
            a{
                transition-delay: 400ms;
                transition-duration: 2000ms;
            }
        }
    }
}
.portfolio__container{

    .portfolio-buttons{
        transition-delay: 600ms;
    }
    ul{
        li:nth-child(2){
            transition-delay: 100ms;
        }
        li:nth-child(3){
            transition-delay: 200ms;
        }
        li:nth-child(4){
            transition-delay: 300ms;
        }

        li:nth-child(6){
            transition-delay: 100ms;
        }
        li:nth-child(7){
            transition-delay: 200ms;
        }
        li:nth-child(8){
            transition-delay: 300ms;
        }
    }
}
.counters__container{
    transition-duration: 4000ms;
    div:nth-child(1){
        transition-delay: 600ms;
    }
    div:nth-child(2){
        transition-delay: 300ms;
    }
    div:nth-child(5){
        transition-delay: 300ms;
    }
    div:nth-child(6){
        transition-delay: 600ms;
    }
}


.colored-contents__container > div{
    padding: 0px 68px 0px;
    opacity: 0;
    transition-duration: 1500ms;
    &:nth-child(2){
        transition-delay: 300ms;
    }
    &:nth-child(3){
        transition-delay: 600ms;
    }
}

.ourteam__container{
    >div:nth-child(2){

        div:nth-child(2){
            transition-delay: 200ms;
        }
        div:nth-child(3){
            transition-delay: 400ms;
        }
        div:nth-child(4){
            transition-delay: 600ms;
        }
    }
}
